*
.container{
    background: url(earth.jpg);
    height: 100vh;
    background-size:100% 100%;
}


h1{
    color: rgb(11, 116, 45);
    font-size: 40px;
    text-align: center;
    positions:relative;
    riht:20px;
}

.center ol li{
    color: rgb(29, 208, 115);
    text-decoration: none;
    font-size: 20px;
    padding: 8px 13px;
    font-family: Roboto;
}

